<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="true">

	<listeners>
		<listener
			class-name="com.naveenautomation.Listener.CustomListener"></listener>
		<listener
			class-name="com.naveenautomation.Report.ExtentReportListener"></listener>
		<listener
			class-name="com.naveenautomation.Utils.TransformerForRetryLogic"></listener>

	</listeners>



	<test thread-count="10" name="Test">
		<classes>
			<class name="com.naveenautomation.Test.AccountLoginTest" />
			<class name="com.naveenautomation.Test.AccountLogoutTest" />
			<class name="com.naveenautomation.Test.MyAccountTest" />
			<class name="com.naveenautomation.Test.MyWishListTest" />
			<class name="com.naveenautomation.Test.PlaceOrderTest" />
			<class name="com.naveenautomation.Test.RegisterAccountTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->